.navbar-header a {
	color:#fff!important;
}

.navbar-nav {
	background-color:#3498db!important;
	box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, .5);
}

#footerwrap {
	background:#3498db!important;
}

body {
	background-color:#f8f8f8!important;
}

.topo-unit {

}

.topo-unit dtitle {

}

table thead tr {
	background:#3498db!important;
}

table thead th {
	color:#fff!important;
}